
.header {

  

  &__link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 15px;
  }

  &__links {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__link:hover {
    color: yellow;
  }

  &__active {
    color: yellow;
  }

}
